body {

 background-color: #FFFACD;
   font-family: system-ui;
    color:darksalmon;
    font-size: 2em;}
.crumb a::after {
    display: inline-block;
    color: #ed6b94;
    content: '>';
    font-size: 15pt;
    font-weight: bold;
    padding: 0 1px;
}
div {
  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-left: 60px;
  font-size: 60pt;

}

.block{
  background-color: #FFFFFF;
  color: #ed6b94;
  float: left;
  padding: 85px;
  border-radius: 90px;
  font-size: 30px;

}

.center_text {
  text-align: left;
  border: 5px solid black;
}
