body {

 background-color: #FFFACD;
   font-family: cursive;
    color:darksalmon;
    font-size: 2em;}
.crumb a::after {
    display: inline-block;
    color: #B0E0E6;
    content: '>';
    font-size: 15pt;
    font-weight: bold;
    padding: 0 1px;
}
div {
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 35px;
  padding-left: 60px;
  font-size: 14pt;

}

.block{
  background-color: #FFA07A;
  color: #FFFFFF;
  float: left;
  padding: 90px;
  border-radius: 50px;
  font-size: 30px;

}

.center_text {
  text-align: left;
  border: 2px solid black;
}
